<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- A simple launch file for the nmea_serial_driver node. -->

  <arg name="port" default="/dev/ttyGPS" />
  <arg name="baud" default="4800" />
  <arg name="frame_id" default="gps" />
  <arg name="use_GNSS_time" default="False" />
  <arg name="time_ref_source" default="gps" />
  <arg name="useRMC" default="False" />

  <node name="nmea_serial_driver_node" pkg="nmea_navsat_driver" type="nmea_serial_driver" output="screen">
    <param name="port" value="$(arg port)"/>
    <param name="baud" value="$(arg baud)" />
    <param name="frame_id" value="$(arg frame_id)" />
    <param name="use_GNSS_time" value="$(arg use_GNSS_time)" />
    <param name="time_ref_source" value="$(arg time_ref_source)" />
    <param name="useRMC" value="$(arg useRMC)" />
  </node>


  <node name="bno080_lsm9ds1_publisher" pkg="teleoperation" type="bno_lsm.py"/> 

<node name="basetoimu" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 base_link imu 10"/>
<node name="basetogps" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 base_link gps 10"/>

</launch>
