<?xml version="2.0"?>
<launch>
	<node name="rs_publisher" pkg="rs_driver" type="rs_driver" />
	<node name="pcl_filter" pkg="pclfilters" type="pclfilters_node"/>
	<node name="obstacle_detector" pkg="obstacle_detector" type="obstacle_detector_node"/>
	<node pkg="tf" type="static_transform_publisher" name="tf_static_transform" args="0 0 0 0 3.141592653589793 1.5707963267948966 map pcl_frame 100" />
	<node pkg="rviz" type="rviz" name="rviz"/>
</launch>
